{
    padding
}}
header{
    background-image: url(" }
    header{
        background-image: url("https://images.app.goo.gl/7FStCEvhVPj4DrMr8")
        height: 100vh;
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
    }
    .main{
        max-width: 1100px;
        margin:auto;
    }
    ul{
        list-style-type: none;
        float: right;
        margin-top: 25px;
    
    
    }
    ul li{
        display: inline-block;
        border:1px solid transparent;
    }
    ul li a{
        color: white;
        text-decoration: none;
        display: block;
        padding:5px;
    }
    ul li a:hover{
        background-color: white;
        color:black;
        transition: 0.6s ease;
    
    
    }
    .active{
        background-color: white;
        color: black;
    
    }
    .logo img{
        margin-top: 25px;
    
    }
    }
    }">

 </div>
</div>
<div class=""center_text">
 <h1>
     DEVI CREATION
 </h1>
 <a href="#"id="bt1">Contact</a>
 <a href="#"id="bt2">Read More</a>

</div>
</header>

</body>
</html>

     padding:0px;
     margin:0px;
    
    }
    header{
        background-image: url("https://images.app.goo.gl/7FStCEvhVPj4DrMr8")
        height: 100vh;
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
    }
    .main{
        max-width: 1100px;
        margin:auto;
    }
    ul{
        list-style-type: none;
        float: right;
        margin-top: 25px;
    
    
    }
    ul li{
        display: inline-block;
        border:1px solid transparent;
    }
    ul li a{
        color: white;
        text-decoration: none;
        display: block;
        padding:5px;
    }
    ul li a:hover{
        background-color: white;
        color:black;
        transition: 0.6s ease;
    
    
    }
    .active{
        background-color: white;
        color: black;
    
    }
    .logo img{
        margin-top: 25px;
    
    }
    }
    }">

 </div>
</div>
<div class=""center_text">
 <h1>
     DEVI CREATION
 </h1>
 <a href="#"id="bt1">Contact</a>
 <a href="#"id="bt2">Read More</a>

</div>
</header>

</body>
</html>
    height: 100vh;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
.main{
    max-width: 1100px;
    margin:auto;
}
ul{
    list-style-type: none;
    float: right;
    margin-top: 25px;


}
ul li{
    display: inline-block;
    border:1px solid transparent;
}
ul li a{
    color: white;
    text-decoration: none;
    display: block;
    padding:5px;
}
ul li a:hover{
    background-color: white;
    color:black;
    transition: 0.6s ease;


}
.active{
    background-color: white;
    color: black;

}
.logo img{
    margin-top: 25px;

}
}
}">

</div>
</div>
<div class=""center_text">
<h1>
 DEVI CREATION
</h1>
<a href="#"id="bt1">Contact</a>
<a href="#"id="bt2">Read More</a>

</div>
</header>

</body>
</html>

 padding:0px;
 margin:0px;

}
header{
    background-image: url("https://images.app.goo.gl/7FStCEvhVPj4DrMr8")
    height: 100vh;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
.main{
    max-width: 1100px;
    margin:auto;
}
ul{
    list-style-type: none;
    float: right;
    margin-top: 25px;


}
ul li{
    display: inline-block;
    border:1px solid transparent;
}
ul li a{
    color: white;
    text-decoration: none;
    display: block;
    padding:5px;
}
ul li a:hover{
    background-color: white;
    color:black;
    transition: 0.6s ease;


}
.active{
    background-color: white;
    color: black;

}
.logo img{
    margin-top: 25px;

}
}
}">

</div>
</div>
<div class=""center_text">
<h1>
 DEVI CREATION
</h1>
<a href="#"id="bt1">Contact</a>
<a href="#"id="bt2">Read More</a>

</div>
</header>

</body>
</html>